
body{
grid-template-columns: auto;
grid-template-rows: auto;

}

.potatis{
width: 120px;
margin-left: 1000px;
}

.raggmunk{
margin-right: 200px;
height: 150px;
width: 150px;
}

.Portioner{
background-color: grey;
margin-right: 1300px;
text-align: center;
border: 1px solid black;

}

.ingredienser{
background-color: grey;
margin-right: 1300px;
border: 1px solid black;
}

.rubrik{
background-color: grey;
}


.texttop{
text-align: center;
}

.footer{
text-align: center;


}