
.rubrik
{
display: grid;
grid-template-columns: 20% auto;
grid-template-rows: 20% auto;
background-color: lightgray;
width: 80%;
margin-bottom: 20px;
border: 1px solid black;

}

.raggmunk{
height: 125px;
width: 150px;
}

.potatis{
padding-left: 1220px;
height: 150px;
width: 280px;
}


h1{
    text-align: center;
    padding-top: 21px;
    padding-right: 65px;
    }

.Portioner{
background-color: lightgray;
width: 40%;
text-align: center;
border: 1px solid black;
margin-bottom: 20px;

}

.ingredienser{
background-color: lightgray;
/*margin-right: 1300px;*/
border: 1px solid black;
width: 40%;
}

.texttop{
text-align: center;
}

.footer{
text-align: center;
background-color: lightgray;
width: 80%;
border: 1px solid black;
margin-top: 20px;
height: 75px;


}

/*.instruktioner{
background-color: lightgray;
margin-left: 400px;}*/