
.rubrik
{
display: grid;
grid-template-columns: 20% auto;
grid-template-rows: 20% auto;
background-color: lightgray;
width: 85%;
margin-bottom: 20px;
border: 1px solid black;

}

.raggmunk{
height: 125px;
width: 150px;
}

/*.potatis{
padding-left: 1220px;
height: 150px;
width: 280px;
}*/

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    height: fit-content;
  }
  
  aside img {
    margin-bottom: 30px;
    border: 1px solid black;
    align-items: flex-end;
  }


h1{
    text-align: center;
    padding-top: 21px;
    padding-right: 65px;
    }

.Portioner{
background-color: lightgray;
width: 42.5%;
text-align: center;
border: 1px solid black;
margin-bottom: 20px;
}

.ingredienser{
background-color: lightgray;
border: 1px solid black;
width: 42.5%;
text-align: center;
margin-bottom: 30px;
}

.lista{
background-color: lightgray;
text-align: left;
}

.foralla{
text-align: left;
}


.instruktioner{
background-color: lightgray;
border: 1px solid black;
width: 42.5%;
margin-left: 620px;
text-align: center;
}

.gorsahar{
    background-color: lightgray;
    border: 1px solid black;
    width: 42.5%;
    margin-left: 620px;
    text-align: center;
}


.texttop{
text-align: center;
}


.pottis,
.mjölk,
.morot,
.sylt {
  width: 270px;
  height: 150px;
}

.stars{
width: 270px;
height: 50px;
}


.smut{
background-color: lightgray;
width: 42.5%;
border: 1px solid black;
text-align: center;
}


.footer{
text-align: center;
background-color: lightgray;
width: 85%;
border: 1px solid black;
margin-top: 20px;
height: 75px;


}
